body {
	background: black;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	height: 50px;
	width: 50px;
}

h1 {
	width: 350px;
	margin: 0px;
}
.postcard-body {
	display: flex;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: #777272;
	padding: 15px;
}
input {
	border: none;
	border-bottom: 1px solid gray;
}
